In [8]:
import pandas as pd
import numpy as np

In [9]:
dfv = pd.read_csv(r"C:\Users\Soorya\Documents\capstone-files\TrainData\Data\Train_Vehicle.csv",na_values=['???'])
print(dfv.shape)
dfv.head()

(115344, 3)

  CustomerID VehicleAttribute VehicleAttributeDetails
0  Cust20179        VehicleID             Vehicle8898
1  Cust21384     VehicleModel                  Malibu
2  Cust33335      VehicleMake                  Toyota
3  Cust27118     VehicleModel                    Neon
4  Cust13038        VehicleID            Vehicle30212

In [5]:
def YOM(x):
    a = dfv[dfv['CustomerID']==x].copy()
    return int(a[a['VehicleAttribute']=="VehicleYOM"]["VehicleAttributeDetails"].values)

dfv['VehicleYOM'] = dfv['CustomerID'].apply(lambda x: YOM(x))

In [6]:
def Model(x):
    a = dfv[dfv['CustomerID']==x].copy()
    return a[a['VehicleAttribute']=="VehicleModel"]["VehicleAttributeDetails"].values

dfv['VehicleModel'] = dfv['CustomerID'].apply(lambda x: Model(x))

In [7]:
def ID(x):
    a = dfv[dfv['CustomerID']==x].copy()
    return str(a[a['VehicleAttribute']=="VehicleID"]["VehicleAttributeDetails"].values)

dfv['VehicleID'] = dfv['CustomerID'].apply(lambda x: ID(x))

In [8]:
def Make(x):
    a = dfv[dfv['CustomerID']==x].copy()
    return a[a['VehicleAttribute']=="VehicleMake"]["VehicleAttributeDetails"].values

dfv['VehicleMake'] = dfv['CustomerID'].apply(lambda x: Make(x))

In [9]:
dfv.head()

,CustomerID,VehicleAttribute,VehicleAttributeDetails,VehicleYOM,VehicleModel,VehicleID,VehicleMake
0,Cust20179,VehicleID,Vehicle8898,2011,[Forrestor],['Vehicle8898'],[BMW]
1,Cust21384,VehicleModel,Malibu,2010,[Malibu],['Vehicle18688'],[Chevrolet]
2,Cust33335,VehicleMake,Toyota,2001,[Highlander],['Vehicle8998'],[Toyota]
3,Cust27118,VehicleModel,Neon,1998,[Neon],['Vehicle28504'],[Saab]
4,Cust13038,VehicleID,Vehicle30212,2000,[Maxima],['Vehicle30212'],[Toyota]

In [10]:
dfv.drop(["VehicleAttribute","VehicleAttributeDetails"],axis=1,inplace=True)

In [11]:
dfv.head()

  CustomerID  VehicleYOM  VehicleModel         VehicleID  VehicleMake
0  Cust20179        2011   [Forrestor]   ['Vehicle8898']        [BMW]
1  Cust21384        2010      [Malibu]  ['Vehicle18688']  [Chevrolet]
2  Cust33335        2001  [Highlander]   ['Vehicle8998']     [Toyota]
3  Cust27118        1998        [Neon]  ['Vehicle28504']       [Saab]
4  Cust13038        2000      [Maxima]  ['Vehicle30212']     [Toyota]

In [12]:
dfv.to_csv("Vehicles_clean.csv",index=False)

In [22]:
ff = pd.read_csv("Vehicles_clean.csv")
ff.isnull().sum().sum()

0